{% for purchase in purchases %}
    <table class="table table-borderless">
        <tbody class="profile-purchase">
        <tr>
            <td class="profile-purchase_cover"><img
                    src="{{ purchase.good.thumbnail.url }}"
                    alt="{{ purchase.good.name }}"></td>
            <td>
                <div class="profile-purchase_product">
                    <div class="profile-purchase_product_name"><a
                            href="{{ purchase.get_absolute_url }}">Покупка
                        от {{ purchase.created_at|date:'d.m H:i' }}</a></div>
                    <div class="profile-purchase_product_info">
                        Номер заказа: {{ purchase.slug }}
                    </div>
                </div>
            </td>
            <td class="profile-purchase_statustd">
                <div class="profile-purchase_amount">{{ purchase.get_good_price }} ₽</div>
                {% if purchase.status == 'success' %}
                    <div class="profile-purchase_status done"><i
                            class="fas fa-check-circle"></i><span
                            class="profile-purchase_status__text">Оплачено</span></div>
                {% else %}
                    <div class="profile-purchase_status waiting"><i
                            class="fas fa-spinner fa-spin"></i><span
                            class="profile-purchase_status__text">Ожидание</span></div>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}
{% if purchases.has_next %}
    <div class="col-12 row">
        <div class="col">
            <div class="catalog-more" style="padding: 0">
                <button data-get="page" data-label="purchases" data-next-page="{{ purchases.next_page_number }}"
                        type="button" class="btn btn-sm btn-primary items-more" style="padding: 7px 15px"><i
                        class="fas fa-sync-alt fa-spin d-none"></i>Показать ещё
                </button>
            </div>
        </div>
    </div>
{% endif %}